[Desktop Entry]
Name=Blueprint
Exec=blueprint %F
Terminal=false
Type=Application
StartupNotify=true
Icon=dev.edfloreshz.Blueprint
Categories=COSMIC;
Keywords=
MimeType=
